In [80]:
import pandas as pd
import numpy as np
df = pd.read_csv("C:/Users/adhis/Downloads/car_price_predictor-master/car_price_predictor-master/quikr_car.csv")
df

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
name          892 non-null object
company       892 non-null object
year          892 non-null object
Price         892 non-null object
kms_driven    840 non-null object
fuel_type     837 non-null object
dtypes: object(6)
memory usage: 41.9+ KB

In [3]:
df['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [4]:
df['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

# Issues:

-year has many non-year values. Need to convert year from type obj to int
-Price has Ask for price . Also need to convert from obj to int
-kms_driven has 'kms' written with it. Obj to int. Nan values
-fuel_type has nan values
-keep first three words of name

# Cleaning

In [5]:
backup = df.copy()

In [6]:
df = df[df['year'].str.isnumeric()]

In [7]:
df['year']=df['year'].astype(int)

C:\Users\adhis\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
df = df[df['Price']!="Ask For Price"]

In [9]:
df['Price']=df['Price'].str.replace(',','').astype(int)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
name          819 non-null object
company       819 non-null object
year          819 non-null int32
Price         819 non-null int32
kms_driven    819 non-null object
fuel_type     816 non-null object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [11]:
df['kms_driven']= df['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [12]:
df = df[~df['fuel_type'].isna()]

In [13]:
df = df[df['kms_driven'].str.isnumeric()]

df['kms_driven']=df['kms_driven'].astype(int)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
name          816 non-null object
company       816 non-null object
year          816 non-null int32
Price         816 non-null int32
kms_driven    816 non-null int32
fuel_type     816 non-null object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [15]:
df

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [16]:
df['name']=df['name'].str.split(' ').str.slice(0,3).str.join(" ")

In [17]:
df = df.reset_index(drop=True)

In [18]:
df.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [19]:
df=df[df['Price']<6e6].reset_index(drop=True)

In [20]:
df.to_csv("Cleaned car.csv")

# Model

In [21]:
X = df.drop(columns="Price")
y = df['Price']

In [22]:
X

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
811          Tata Indica V2      Tata  2009       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
813            Tata Zest XM      Tata  2018       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [23]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
810    270000
811    110000
812    300000
813    260000
814    390000
Name: Price, Length: 815, dtype: int32

In [24]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train, y_test =  train_test_split(X, y, test_size = 0.2)

In [55]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn import preprocessing

In [70]:
ohe = OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder(categorical_features=None, categories=None, drop=None,
              dtype=<class 'numpy.float64'>, handle_unknown='error',
              n_values=None, sparse=True)

In [71]:
column_trans = make_column_transformer((OneHotEncoder(categories = ohe.categories_),['name','company','fuel_type']),remainder='passthrough')

ColumnTransformer(n_jobs=None, remainder='passthrough', sparse_threshold=0.3,
                  transformer_weights=None,
                  transformers=[('onehotencoder',
                                 OneHotEncoder(categorical_features=None,
                                               categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',...
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                           array(['Diesel', 'LPG', 'Petrol'], dtype=object)],
                                               drop=None,
                                               dtype=<class 'numpy.float64'>,
                                               handle_unknown='error',
                                               n_values=None, sparse=True),
                                 ['name', 'company', 'fuel_type'])],
                  verbose=False)

In [72]:
lr = LinearRegression()

In [73]:
pipe = make_pipeline(column_trans,lr)

In [74]:
pipe.fit(X_train,y_train)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categorical_features=None,
                                                                categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'B...
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)],
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                n_values=None,
                                                                sparse=True),
                                                  ['name', 'company',
                                                   'fuel_type'])],
                                   verbose=False)),
                ('linearregression',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [75]:
y_pred = pipe.predict(X_test)

In [76]:
y_pred

array([ 287816.44258942,  295258.28636526,  299172.01704454,
        536507.68186007,  722908.708973  ,  260573.19673937,
        693410.98726805,  492282.13469857,  288407.86380082,
        578989.47063813,  522940.40115605,  418760.03289099,
        520434.519878  ,  403834.62973413,  321340.83620059,
        859761.06210487,  306076.36316969,  503698.12193666,
        297928.55396836,  338941.13610788,  480030.27956971,
        398709.88846521,  638320.03187016,  490272.96597429,
        573581.47541866,  316432.13516797,  411924.57256272,
        260862.93178967,  507775.18603905,  464501.54721057,
        365621.35275836,   64027.64684482,  243517.87386973,
        244781.17193578,  333328.42000826,  867210.70371932,
        264586.88282339,  274169.68463794,  407971.06695283,
        240344.11786091,  310231.6742235 ,  325896.51904029,
        214816.28677323,  238130.35292575,  988955.97468851,
        276389.92292805,  190037.1154837 ,  553825.02658787,
        421400.25958017,  241707.72034293,  465878.24559363,
        281902.26291252,  220716.42321137, -102679.23462194,
        239862.03237747,  404403.30205298,  338216.99439824,
        -18941.16711396,  190189.70772716,  -22413.20002045,
        431023.6281848 ,  502778.813408  ,  258058.76030578,
        320452.01406834,  432101.941131  ,  383433.71159473,
        175627.64837223,  164556.66012432,  303685.65503236,
        270471.25914108,  112138.94861996,  499748.99197669,
        272932.15392629,  648721.18584166,  552008.57244258,
        223801.70605052,  457100.16818027,  316419.32778174,
        282008.33697352,  551589.44636427,  344119.65970629,
        305584.95207135, 1209192.50148068,  459795.01204002,
        323938.99817281,  276404.19071251,  243409.99558242,
         39781.30637974,  490092.24536944,  220421.66234204,
       1371813.20213427,  225947.53571316,  207147.02350289,
        546348.66940643,  283988.12643126,  255100.5140167 ,
        406680.82647898,  951814.9363813 ,  438685.30593885,
        486725.38610025,  203577.57801277, -109565.69339891,
        333667.9466491 ,  592227.07000074,  505819.60315663,
        536507.68186007, 1892834.57855947,  411002.46403567,
        653207.96169546,  382019.37030185,  558881.73756686,
        156832.86983544,  122940.75644659,  415326.67988101,
         66325.91816646,  360562.60365595,  274516.80539625,
         18739.07361653,  193197.60002171,  548942.46646325,
        250586.54466857,  316734.30008746,  168897.0303418 ,
        249349.01395692,  550665.18348192,  499748.99197669,
        294427.29872736,  210325.81819095,  494515.92841423,
        170563.15484761,  520434.519878  ,   74254.14901861,
        404013.59151514,  210320.51448791,  472523.89935984,
        439220.30466704,  498014.78866632,  471007.57847901,
        494857.7307768 ,  164556.66012432,  550359.20136065,
        272390.95544298,   43815.28520291,   66262.07660374,
        670972.11133556,  235694.94590618,  446329.18186061,
        188884.75916463,  578989.47063813,  225799.36003924,
        853926.98874995,  502778.813408  ,  564018.38728081,
        238772.76904545,  185322.48953601,  213291.23894148,
        329184.7854979 ,  203576.92391875,  147542.75923469,
        210320.51448791,  112628.74759692,  297928.55396836,
        234699.59587729])

In [77]:
r2_score(y_test,y_pred)

0.4201622454354942

In [94]:
score = []
for i in range(1000):
    X_train , X_test , y_train, y_test =  train_test_split(X, y, test_size = 0.2, random_state = i)
    lr = LinearRegression()
    pipe.fit(X_train,y_train)
    y_pred = pipe.predict(X_test)
    score.append(r2_score(y_test,y_pred))

In [95]:
np.argmax(score)     #gives the index of highest value

661

In [92]:
score[np.argmax(score)]   #OR we can rather use

0.8897762920578806

In [93]:
np.amax(score)

0.8897762920578806

In [96]:
X_train , X_test , y_train, y_test =  train_test_split(X, y, test_size = 0.2, random_state = np.argmax(score))
lr = LinearRegression()
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
r2_score(y_test,y_pred)

0.8897762920578806

In [97]:
import pickle

In [100]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))